---
# handlers file for wdijkerman.zabbix

- name: zabbix-server restarted
  service:
      name: zabbix-server
      state: restarted
      enabled: yes
  tags: zabbix-server
  become: yes
  when:
    - zabbix_server_manage_service | bool
    - zabbix_repo != 'epel'

- name: zabbix-server restarted
  service:
    name: zabbix-proxy-mysql{{ zabbix_proxy_database_long }}
    state: restarted
    enabled: yes
  become: yes
  when:
    - zabbix_proxy_manage_service | bool
    - zabbix_repo == 'epel'

- name: "clean repo files from proxy creds"
  shell: ls /etc/yum.repos.d/zabbix* && sed -i 's/^proxy =.*//' /etc/yum.repos.d/zabbix* || true
  become: yes
  when:
    - ansible_os_family == 'RedHat'
    - zabbix_http_proxy is defined or zabbix_https_proxy is defined
