{{ ansible_managed | comment }}
# This is a configuration file for Zabbix Server process
# To get more information about Zabbix, visit http://www.zabbix.com

# This configuration file is "minimalized", which means all the original comments 
# are removed. The full documentation for your Zabbix Server can be found here:
# https://www.zabbix.com/documentation/{{ zabbix_version }}/en/manual/appendix/config/zabbix_server

ListenPort={{ zabbix_server_listenport }}
{% if zabbix_server_sourceip is defined and zabbix_server_sourceip %}
SourceIP={{ zabbix_server_sourceip }}
{% endif %}
{% if zabbix_version is version('3.0', '>=') %}
LogType={{ zabbix_server_logtype }}
{% endif %}
LogFile={{ zabbix_server_logfile }}
LogFileSize={{ zabbix_server_logfilesize }}
DebugLevel={{ zabbix_server_debuglevel }}
{% if zabbix_version is version('3.4', '>=') %}
SocketDir={{ zabbix_server_socketdir }}
{% endif %}
PidFile={{ zabbix_server_pidfile }}
DBHost={{ zabbix_server_dbhost }}
DBName={{ zabbix_server_dbname }}
{% if zabbix_server_dbschema is defined and zabbix_server_dbschema %}
DBSchema={{ zabbix_server_dbschema }}
{% endif %}
DBUser={{ zabbix_server_dbuser }}
DBPassword={{ zabbix_server_dbpassword }}
{% if zabbix_server_dbsocket is defined and zabbix_server_dbsocket %}
DBSocket={{ zabbix_server_dbsocket }}
{% endif %}
{% if zabbix_server_dbport is defined and zabbix_server_dbport %}
DBPort={{ zabbix_server_dbport }}
{% endif %}
{% if zabbix_version is version('6.0', '>=') %}
AllowUnsupportedDBVersions={{ zabbix_server_allowunsupporteddbversions }}
{% endif %}
{% if zabbix_server_historystorageurl is defined and zabbix_server_historystorageurl %}
HistoryStorageURL={{ zabbix_server_historystorageurl }}
{% endif %}
{% if zabbix_version is version('3.4', '>=') %}
HistoryStorageTypes={{ zabbix_server_historystoragetypes }}
{% endif %}
{% if zabbix_version is version('4.0', '>=') %}
HistoryStorageDateIndex={{ zabbix_server_historystoragedateindex }}
{% endif %}
{% if zabbix_version is version('4.0', '>=') %}
{% if zabbix_server_exportdir is defined and zabbix_server_exportdir %}
ExportDir={{ zabbix_server_exportdir }}
{% endif %}
{% endif %}
{% if zabbix_version is version('4.0', '>=') %}
ExportFileSize={{ zabbix_server_exportfilesize }}
{% endif %}
StartPollers={{ zabbix_server_startpollers }}
StartIPMIPollers={{ zabbix_server_startipmipollers }}
{% if zabbix_version is version('4.2', '>=') %}
StartLLDProcessors={{ zabbix_server_startlldprocessors }}
{% endif %}
{% if zabbix_version is version('4.2', '>=') %}
StartPreprocessors={{ zabbix_server_startpreprocessors }}
{% endif %}
StartPollersUnreachable={{ zabbix_server_startpollersunreachable }}
{% if zabbix_version is version('6.4', '>=') %}
StartConnectors={{ zabbix_server_connectors }}
{% endif %}
{% if zabbix_version is version('6.2', '>=') %}
StartHistoryPollers={{ zabbix_server_starthistorypollers }}
{% endif %}
StartTrappers={{ zabbix_server_starttrappers }}
StartPingers={{ zabbix_server_startpingers }}
StartDiscoverers={{ zabbix_server_startdiscoverers }}
StartHTTPPollers={{ zabbix_server_starthttppollers }}
{% if zabbix_version is version('2.0', '>=') %}
StartTimers={{ zabbix_server_starttimers }}
{% endif %}
{% if zabbix_version is version('3.0', '>=') %}
StartEscalators={{ zabbix_server_startescalators }}
{% endif %}
{% if zabbix_server_javagateway is defined and zabbix_server_javagateway %}
JavaGateway={{ zabbix_server_javagateway }}
JavaGatewayPort={{ zabbix_server_javagatewayport }}
StartJavaPollers={{ zabbix_server_startjavapollers }}
{% endif  %}
{% if zabbix_version is version('2.2', '>=') %}
StartVMwareCollectors={{ zabbix_server_startvmwarecollectors }}
VMwareFrequency={{ zabbix_server_vmwarefrequency }}
{% if zabbix_version is version('3.0', '>=') %}
VMwarePerfFrequency={{ zabbix_server_vmwareperffrequency }}
{% endif %}
VMwareCacheSize={{ zabbix_server_vmwarecachesize }}
{% endif  %}
{% if zabbix_version is version('3.0', '>=') %}
VMwareTimeout={{ zabbix_server_vmwaretimeout }}
{% endif %}
SNMPTrapperFile={{ zabbix_server_snmptrapperfile }}
StartSNMPTrapper={{ zabbix_server_startsnmptrapper }}
{% if zabbix_server_listenip is defined and zabbix_server_listenip %}
ListenIP={{ zabbix_server_listenip }}
{% endif %}
HousekeepingFrequency={{ zabbix_server_housekeepingfrequency }}
MaxHousekeeperDelete={{ zabbix_server_maxhousekeeperdelete }}
{% if zabbix_version is version('3.2', '<=') %}
SenderFrequency={{ zabbix_server_senderfrequency }}
{% endif %}
{% if zabbix_server_cachesize is defined and zabbix_server_cachesize is not none %}
CacheSize={{ zabbix_server_cachesize }}
{% else %}
{% if zabbix_version is version('6.2', '<') %}
CacheSize=8M
{% else %}
CacheSize=32M
{% endif %}
{% endif %}
{% if zabbix_server_cacheupdatefrequency is defined and zabbix_server_cacheupdatefrequency is not none %}
CacheUpdateFrequency={{ zabbix_server_cacheupdatefrequency }}
{% else %}
{% if zabbix_version is version('6.4', '<') %}
CacheUpdateFrequency=60
{% else %}
CacheUpdateFrequency=10
{%endif %}
{%endif %}
StartDBSyncers={{ zabbix_server_startdbsyncers }}
HistoryCacheSize={{ zabbix_server_historycachesize }}
{% if zabbix_version is version('3.0', '>=') %}
HistoryIndexCacheSize={{ zabbix_server_historyindexcachesize }}
{% endif %}
TrendCacheSize={{ zabbix_server_trendcachesize }}
{% if zabbix_version is version('6.0', '>=') %}
TrendFunctionCacheSize={{ zabbix_server_trendfunctioncachesize }}
{% endif %}
{% if zabbix_version is version('3.0', '<') %}
    ### option: historytextcachesize
HistoryTextCacheSize={{ zabbix_server_historytextcachesize }}
{% endif %}
{% if zabbix_version is version('2.2', '>=') %}
ValueCacheSize={{ zabbix_server_valuecachesize }}
{% endif %}
{% if zabbix_version is version('2.4', '<') %}
NodeNoEvents={{ zabbix_server_nodenoevents }}
NodeNoHistory={{ zabbix_server_nodenohistory }}
{% endif %}
Timeout={{ zabbix_server_timeout }}
TrapperTimeout={{ zabbix_server_trappertimeout }}
UnreachablePeriod={{ zabbix_server_unreachableperiod }}
UnavailableDelay={{ zabbix_server_unavailabledelay }}
UnreachableDelay={{ zabbix_server_unreachabledelay }}
AlertScriptsPath={{ zabbix_server_alertscriptspath }}
ExternalScripts={{ zabbix_server_externalscriptspath }}
FpingLocation={{ zabbix_server_fpinglocation }}
Fping6Location={{ zabbix_server_fping6location }}
{% if zabbix_server_sshkeylocation is defined and zabbix_server_sshkeylocation %}
SSHKeyLocation={{ zabbix_server_sshkeylocation }}
{% endif %}
LogSlowQueries={{ zabbix_server_logslowqueries }}
TmpDir={{ zabbix_server_tmpdir }}
StartProxyPollers={{ zabbix_server_startproxypollers }}
{% if zabbix_server_proxyconfigfrequency is defined and zabbix_server_proxyconfigfrequency is not none %}
ProxyConfigFrequency={{ zabbix_server_proxyconfigfrequency }}
{% else %}
{% if zabbix_version is version('6.2', '<') %}
ProxyConfigFrequency=3600
{% elif zabbix_version is version('6.4', '<') %}
ProxyConfigFrequency=300
{% else %}
ProxyConfigFrequency=10
{% endif %}
{% endif %}
ProxyDataFrequency={{ zabbix_server_proxydatafrequency }}
{% if zabbix_version is version('2.2', '>=') %}
AllowRoot={{ zabbix_server_allowroot }}
{% endif %}
{% if zabbix_version is version('3.0', '>=') %}
User={{ zabbix_server_user }}
{% endif %}
Include={{ zabbix_server_include }}
{% if zabbix_version is version('3.0', '>=') %}
SSLCertLocation={{ zabbix_server_sslcertlocation }}
SSLKeyLocation={{ zabbix_server_sslkeylocation }}
{% if zabbix_server_sslcalocation is defined and zabbix_server_sslcalocation is not none %}
SSLCALocation={{ zabbix_server_sslcalocation }}
{% endif %}
{% endif %}
{% if zabbix_version is version('2.2', '>=') %}
LoadModulePath={{ zabbix_server_loadmodulepath }}
{% endif %}
{% if zabbix_server_loadmodule is defined and zabbix_server_loadmodule %}
LoadModule = {{ zabbix_server_loadmodule }}
{% endif %}
{% if zabbix_version is version('3.0', '>=') %}
{% if zabbix_server_tlscafile is defined and zabbix_server_tlscafile is not none %}
TLSCAFile={{ zabbix_server_tlscafile }}
{% endif %}
{% if zabbix_server_tlscrlfile is defined and zabbix_server_tlscrlfile is not none %}
TLSCRLFile={{ zabbix_server_tlscrlfile }}
{% endif %}
{% if zabbix_server_tlscertfile is defined and zabbix_server_tlscertfile is not none %}
TLSCertFile={{ zabbix_server_tlscertfile }}
{% endif %}
{% if zabbix_server_tlskeyfile is defined and zabbix_server_tlskeyfile is not none %}
TLSKeyFile={{ zabbix_server_tlskeyfile }}
{% endif %}
{% endif %}
{% if zabbix_server_dbtlsconnect is defined and zabbix_server_dbtlsconnect is not none %}
DBTLSConnect={{ zabbix_server_dbtlsconnect }}
{% endif %}
{% if zabbix_server_dbtlscafile is defined and zabbix_server_dbtlscafile is not none %}
DBTLSCAFile={{ zabbix_server_dbtlscafile }}
{% endif %}
{% if zabbix_server_dbtlscertfile is defined and zabbix_server_dbtlscertfile is not none %}
DBTLSCertFile={{ zabbix_server_dbtlscertfile }}
{% endif %}
{% if zabbix_server_dbtlskeyfile is defined and zabbix_server_dbtlskeyfile is not none %}
DBTLSKeyFile={{ zabbix_server_dbtlskeyfile }}
{% endif %}
{% if zabbix_server_dbtlscipher is defined and zabbix_server_dbtlscipher is not none %}
DBTLSCipher={{ zabbix_server_dbtlscipher }}
{% endif %}
{% if zabbix_server_dbtlscipher13 is defined and zabbix_server_dbtlscipher13 is not none %}
DBTLSCipher13={{ zabbix_server_dbtlscipher13 }}
{% endif %}
{% if zabbix_version is version('6.0', '>=') %}
{% if zabbix_server_vaulttoken is defined and zabbix_server_vaulttoken is not none %}
VaultToken={{ zabbix_server_vaulttoken }}
{% endif %}
{% if zabbix_server_vaulturl is defined and zabbix_server_vaulturl is not none %}
VaultURL={{ zabbix_server_vaulturl }}
{% endif %}
{% if zabbix_server_vaultdbpath is defined and zabbix_server_vaultdbpath is not none %}
VaultDBPath={{ zabbix_server_vaultdbpath }}
{% endif %}
{% if zabbix_server_vaulttlscertfile is defined and zabbix_server_vaulttlscertfile is not none %}
VaultTLSKeyFile={{ zabbix_server_vaulttlscertfile }}
{% endif %}
{% if zabbix_server_vaulttlskeyfile is defined and zabbix_server_vaulttlskeyfile is not none %}
VaultTLSCertFile={{ zabbix_server_vaulttlskeyfile }}
{% endif %}
{% if zabbix_server_startreportwriters is defined and zabbix_server_startreportwriters is not none %}
StartReportWriters={{ zabbix_server_startreportwriters }}
{% endif %}
{% if zabbix_server_webserviceurl is defined and zabbix_server_webserviceurl is not none %}
WebServiceURL={{ zabbix_server_webserviceurl }}
{% endif %}
{% if zabbix_server_servicemanagersyncfrequency is defined and zabbix_server_servicemanagersyncfrequency is not none %}
ServiceManagerSyncFrequency={{ zabbix_server_servicemanagersyncfrequency }}
{% endif %}
{% if zabbix_server_problemhousekeepingfrequency is defined and zabbix_server_problemhousekeepingfrequency is not none %}
ProblemHousekeepingFrequency={{ zabbix_server_problemhousekeepingfrequency }}
{% endif %}
{% if zabbix_version is version('6.2', '>=') %}
StartODBCPollers={{ zabbix_server_startodbcpollers }}
{% endif %}
{% if zabbix_server_listenbacklog is defined and zabbix_server_listenbacklog is not none %}
ListenBacklog={{ zabbix_server_listenbacklog }}
{% endif %}
{% if zabbix_server_hanodename is defined and zabbix_server_hanodename is not none %}
HANodeName={{ zabbix_server_hanodename }}
{% endif %}
{% if zabbix_server_nodeaddress is defined and zabbix_server_nodeaddress is not none %}
NodeAddress={{ zabbix_server_nodeaddress }}
{% endif %}
{% endif %}
