{{ ansible_managed | comment }}
# This is a configuration file for Zabbix Server process
# To get more information about Zabbix, visit http://www.zabbix.com

# This configuration file is "minimalized", which means all the original comments 
# are removed. The full documentation for your Zabbix Server can be found here:
# https://www.zabbix.com/documentation/{{ zabbix_version }}/en/manual/appendix/config/zabbix_server

ListenPort={{ zabbix_server_listenport }}
{% if zabbix_server_sourceip is defined and zabbix_server_sourceip %}
SourceIP={{ zabbix_server_sourceip }}
{% endif %}
{{ zabbix_server_cachesize is defined and zabbix_server_cachesize is not none | ternary('', '# ') }}CacheSize={{ zabbix_server_cachesize | default('') }}
{{ zabbix_server_cacheupdatefrequency is defined and zabbix_server_cacheupdatefrequency is not none | ternary('', '# ') }}CacheUpdateFrequency={{ zabbix_server_cacheupdatefrequency | default('') }}
{{ zabbix_server_dbhost is defined and zabbix_server_dbhost is not none | ternary('', '# ') }}DBHost={{ zabbix_server_dbhost | default('') }}
{{ zabbix_server_dbname is defined and zabbix_server_dbname is not none | ternary('', '# ') }}DBName={{ zabbix_server_dbname | default('') }}
{{ zabbix_server_dbpassword is defined and zabbix_server_dbpassword is not none | ternary('', '# ') }}DBPassword={{ zabbix_server_dbpassword | default('') }}
{{ zabbix_server_dbport is defined and zabbix_server_dbport is not none | ternary('', '# ') }}DBPort={{ zabbix_server_dbport | default('') }}
{{ zabbix_server_dbschema is defined and zabbix_server_dbschema is not none | ternary('', '# ') }}DBSchema={{ zabbix_server_dbschema | default('') }}
{{ zabbix_server_dbsocket is defined and zabbix_server_dbsocket is not none | ternary('', '# ') }}DBSocket={{ zabbix_server_dbsocket | default('') }}
{% if zabbix_version is version('6.0', '>=') %}
{{ zabbix_server_dbtlscafile is defined and zabbix_server_dbtlscafile is not none | ternary('', '# ') }}DBTLSCAFile={{ zabbix_server_dbtlscafile | default('') }}
{{ zabbix_server_dbtlscertfile is defined and zabbix_server_dbtlscertfile is not none | ternary('', '# ') }}DBTLSCertFile={{ zabbix_server_dbtlscertfile | default('') }}
{{ zabbix_server_dbtlscipher is defined and zabbix_server_dbtlscipher is not none | ternary('', '# ') }}DBTLSCipher={{ zabbix_server_dbtlscipher | default('') }}
{{ zabbix_server_dbtlscipher13 is defined and zabbix_server_dbtlscipher13 is not none | ternary('', '# ') }}DBTLSCipher13={{ zabbix_server_dbtlscipher13 | default('') }}
{{ zabbix_server_dbtlsconnect is defined and zabbix_server_dbtlsconnect is not none | ternary('', '# ') }}DBTLSConnect={{ zabbix_server_dbtlsconnect | default('') }}
{{ zabbix_server_dbtlskeyfile is defined and zabbix_server_dbtlskeyfile is not none | ternary('', '# ') }}DBTLSKeyFile={{ zabbix_server_dbtlskeyfile | default('') }}
{% endif %}
{{ zabbix_server_dbuser is defined and zabbix_server_dbuser is not none | ternary('', '# ') }}DBUser={{ zabbix_server_dbuser | default('') }}
{{ zabbix_server_debuglevel is defined and zabbix_server_debuglevel is not none | ternary('', '# ') }}DebugLevel={{ zabbix_server_debuglevel | default('') }}
{{ zabbix_server_exportdir is defined and zabbix_server_exportdir is not none | ternary('', '# ') }}ExportDir={{ zabbix_server_exportdir | default('') }}
{{ zabbix_server_exportfilesize is defined and zabbix_server_exportfilesize is not none | ternary('', '# ') }}ExportFileSize={{ zabbix_server_exportfilesize | default('') }}
{{ zabbix_server_exporttype is defined and zabbix_server_exporttype is not none | ternary('', '# ') }}ExportType={{ zabbix_server_exporttype | default('') }}
{{ zabbix_server_externalscriptspath is defined and zabbix_server_externalscriptspath is not none | ternary('', '# ') }}ExternalScripts={{ zabbix_server_externalscriptspath | default('') }}
{{ zabbix_server_fping6location is defined and zabbix_server_fping6location is not none | ternary('', '# ') }}Fping6Location={{ zabbix_server_fping6location | default('') }}
{{ zabbix_server_fpinglocation is defined and zabbix_server_fpinglocation is not none | ternary('', '# ') }}FpingLocation={{ zabbix_server_fpinglocation | default('') }}
{% if zabbix_version is version('6.0', '>=') %}
{{ zabbix_server_hanodename is defined and zabbix_server_hanodename is not none | ternary('', '# ') }}HANodeName={{ zabbix_server_hanodename | default('') }}
{% endif %}
{{ zabbix_server_historycachesize is defined and zabbix_server_historycachesize is not none | ternary('', '# ') }}HistoryCacheSize={{ zabbix_server_historycachesize | default('') }}
{{ zabbix_server_historyindexcachesize is defined and zabbix_server_historyindexcachesize is not none | ternary('', '# ') }}HistoryIndexCacheSize={{ zabbix_server_historyindexcachesize | default('') }}
{{ zabbix_server_historystoragedateindex is defined and zabbix_server_historystoragedateindex is not none | ternary('', '# ') }}HistoryStorageDateIndex={{ zabbix_server_historystoragedateindex | default('') }}
{{ zabbix_server_historystoragetypes is defined and zabbix_server_historystoragetypes is not none | ternary('', '# ') }}HistoryStorageTypes={{ zabbix_server_historystoragetypes | default('') }}
{{ zabbix_server_historystorageurl is defined and zabbix_server_historystorageurl is not none | ternary('', '# ') }}HistoryStorageURL={{ zabbix_server_historystorageurl | default('') }}
{{ zabbix_server_housekeepingfrequency is defined and zabbix_server_housekeepingfrequency is not none | ternary('', '# ') }}HousekeepingFrequency={{ zabbix_server_housekeepingfrequency | default('') }}
{{ zabbix_server_include is defined and zabbix_server_include is not none | ternary('', '# ') }}Include={{ zabbix_server_include | default('') }}
{{ zabbix_server_javagateway is defined and zabbix_server_javagateway is not none | ternary('', '# ') }}JavaGateway={{ zabbix_server_javagateway | default('') }}
{{ zabbix_server_javagatewayport is defined and zabbix_server_javagatewayport is not none | ternary('', '# ') }}JavaGatewayPort={{ zabbix_server_javagatewayport | default('') }}
{% if zabbix_version is version('5.0', '>=') %}
{{ zabbix_server_listenbacklog is defined and zabbix_server_listenbacklog is not none | ternary('', '# ') }}ListenBacklog={{ zabbix_server_listenbacklog | default('') }}
{% endif %}
DBUser={{ zabbix_server_dbuser }}
DBPassword={{ zabbix_server_dbpassword }}
{% if zabbix_server_dbsocket is defined and zabbix_server_dbsocket %}
DBSocket={{ zabbix_server_dbsocket }}
{% endif %}
{% if zabbix_server_dbport is defined and zabbix_server_dbport %}
DBPort={{ zabbix_server_dbport }}
{% endif %}
{% if zabbix_version is version('6.0', '>=') %}
AllowUnsupportedDBVersions={{ zabbix_server_allowunsupporteddbversions }}
{% endif %}
{% if zabbix_server_historystorageurl is defined and zabbix_server_historystorageurl %}
HistoryStorageURL={{ zabbix_server_historystorageurl }}
{% endif %}
HistoryStorageTypes={{ zabbix_server_historystoragetypes }}
HistoryStorageDateIndex={{ zabbix_server_historystoragedateindex }}
{% if zabbix_server_exportdir is defined and zabbix_server_exportdir %}
ExportDir={{ zabbix_server_exportdir }}
{% endif %}
ExportFileSize={{ zabbix_server_exportfilesize }}
StartPollers={{ zabbix_server_startpollers }}
StartIPMIPollers={{ zabbix_server_startipmipollers }}
{% if zabbix_version is version('5.0', '>=') %}
StartLLDProcessors={{ zabbix_server_startlldprocessors }}
{% endif %}
{% if zabbix_version is version('5.0', '>=') %}
StartPreprocessors={{ zabbix_server_startpreprocessors }}
{% endif %}
StartPollersUnreachable={{ zabbix_server_startpollersunreachable }}
StartTrappers={{ zabbix_server_starttrappers }}
StartPingers={{ zabbix_server_startpingers }}
StartDiscoverers={{ zabbix_server_startdiscoverers }}
StartHTTPPollers={{ zabbix_server_starthttppollers }}
StartTimers={{ zabbix_server_starttimers }}
StartEscalators={{ zabbix_server_startescalators }}
{% if zabbix_server_javagateway is defined and zabbix_server_javagateway %}
JavaGateway={{ zabbix_server_javagateway }}
JavaGatewayPort={{ zabbix_server_javagatewayport }}
StartJavaPollers={{ zabbix_server_startjavapollers }}
{% endif  %}
StartVMwareCollectors={{ zabbix_server_startvmwarecollectors }}
VMwareFrequency={{ zabbix_server_vmwarefrequency }}
VMwarePerfFrequency={{ zabbix_server_vmwareperffrequency }}
VMwareCacheSize={{ zabbix_server_vmwarecachesize }}
VMwareTimeout={{ zabbix_server_vmwaretimeout }}
SNMPTrapperFile={{ zabbix_server_snmptrapperfile }}
StartSNMPTrapper={{ zabbix_server_startsnmptrapper }}
{% if zabbix_server_listenip is defined and zabbix_server_listenip %}
ListenIP={{ zabbix_server_listenip }}
{% endif %}
HousekeepingFrequency={{ zabbix_server_housekeepingfrequency }}
MaxHousekeeperDelete={{ zabbix_server_maxhousekeeperdelete }}
CacheSize={{ zabbix_server_cachesize }}
CacheUpdateFrequency={{ zabbix_server_cacheupdatefrequency }}
StartDBSyncers={{ zabbix_server_startdbsyncers }}
HistoryCacheSize={{ zabbix_server_historycachesize }}
HistoryIndexCacheSize={{ zabbix_server_historyindexcachesize }}
TrendCacheSize={{ zabbix_server_trendcachesize }}
{% if zabbix_version is version('6.0', '>=') %}
{{ zabbix_server_vaultdbpath is defined and zabbix_server_vaultdbpath is not none | ternary('', '# ') }}VaultDBPath={{ zabbix_server_vaultdbpath | default('') }}
{% endif %}
{% if zabbix_version is version('6.2', '>=') %}
{{ zabbix_server_vaulttlskeyfile is defined and zabbix_server_vaulttlskeyfile is not none | ternary('', '# ') }}VaultTLSKeyFile={{ zabbix_server_vaulttlskeyfile | default('') }}
{{ zabbix_server_vaulttlscertfile is defined and zabbix_server_vaulttlscertfile is not none | ternary('', '# ') }}VaultTLSCertFile={{ zabbix_server_vaulttlscertfile | default('') }}
{% endif %}
{{ zabbix_server_vaulttoken is defined and zabbix_server_vaulttoken is not none | ternary('', '# ') }}VaultToken={{ zabbix_server_vaulttoken | default('') }}
{{ zabbix_server_vaulturl is defined and zabbix_server_vaulturl is not none | ternary('', '# ') }}VaultURL={{ zabbix_server_vaulturl | default('') }}
{{ zabbix_server_vmwarecachesize is defined and zabbix_server_vmwarecachesize is not none | ternary('', '# ') }}VMwareCacheSize={{ zabbix_server_vmwarecachesize | default('') }}
{{ zabbix_server_vmwarefrequency is defined and zabbix_server_vmwarefrequency is not none | ternary('', '# ') }}VMwareFrequency={{ zabbix_server_vmwarefrequency | default('') }}
{{ zabbix_server_vmwareperffrequency is defined and zabbix_server_vmwareperffrequency is not none | ternary('', '# ') }}VMwarePerfFrequency={{ zabbix_server_vmwareperffrequency | default('') }}
{{ zabbix_server_vmwaretimeout is defined and zabbix_server_vmwaretimeout is not none | ternary('', '# ') }}VMwareTimeout={{ zabbix_server_vmwaretimeout | default('') }}
{% if zabbix_version is version('6.0', '>=') %}
{% if zabbix_server_vaulttoken is defined and zabbix_server_vaulttoken is not none %}
VaultToken={{ zabbix_server_vaulttoken }}
{% endif %}
{% if zabbix_server_vaulturl is defined and zabbix_server_vaulturl is not none %}
VaultURL={{ zabbix_server_vaulturl }}
{% endif %}
{% if zabbix_server_vaultdbpath is defined and zabbix_server_vaultdbpath is not none %}
VaultDBPath={{ zabbix_server_vaultdbpath }}
{% endif %}
{% if zabbix_server_startreportwriters is defined and zabbix_server_startreportwriters is not none %}
StartReportWriters={{ zabbix_server_startreportwriters }}
{% endif %}
{% if zabbix_server_webserviceurl is defined and zabbix_server_webserviceurl is not none %}
WebServiceURL={{ zabbix_server_webserviceurl }}
{% endif %}
{% if zabbix_server_servicemanagersyncfrequency is defined and zabbix_server_servicemanagersyncfrequency is not none %}
ServiceManagerSyncFrequency={{ zabbix_server_servicemanagersyncfrequency }}
{% endif %}
{% if zabbix_server_problemhousekeepingfrequency is defined and zabbix_server_problemhousekeepingfrequency is not none %}
ProblemHousekeepingFrequency={{ zabbix_server_problemhousekeepingfrequency }}
{% endif %}
{% if zabbix_server_listenbacklog is defined and zabbix_server_listenbacklog is not none %}
ListenBacklog={{ zabbix_server_listenbacklog }}
{% endif %}
{% if zabbix_server_hanodename is defined and zabbix_server_hanodename is not none %}
HANodeName={{ zabbix_server_hanodename }}
{% endif %}
{% if zabbix_server_nodeaddress is defined and zabbix_server_nodeaddress is not none %}
NodeAddress={{ zabbix_server_nodeaddress }}
{% endif %}
{% endif %}