---
apache_user: www-data
apache_group: www-data
apache_log: apache2

mysql_create_dir: ""

zabbix_valid_server_versions:
  # Debian
  "12":
    - 7.4
    - 7.2
    - 7.0
    - 6.0
  "11":
    - 6.0
  # Ubuntu
  "24":
    - 7.4
    - 7.2
    - 7.0
    - 6.0
  "22":
    - 7.4
    - 7.2
    - 7.0
    - 6.0

_zabbix_server_pgsql_dependencies:
  - "{{ zabbix_server_install_database_client | ternary('postgresql-client', '') }}"
  - python3-psycopg2

_zabbix_server_mysql_dependencies:
  - "{{ zabbix_server_install_database_client | ternary('default-mysql-client', '') }}"
  - python3-pymysql

_zabbix_server_fping6location: /usr/bin/fping6
_zabbix_server_fpinglocation: /usr/bin/fping

_zabbix_server_packages:
  - "zabbix-server-{{ zabbix_server_database }}"
  - "zabbix-sql-scripts"
_zabbix_server_install_recommends: true
