---
apache_user: www-data
apache_group: www-data
apache_log: apache2

mysql_create_dir: ""

zabbix_valid_server_versions:
  # Debian
  "11":
    - 6.4
    - 6.0
    - 5.0
    - 4.0
  "10":
    - 6.0
    - 5.0
    - 4.0
  "9":
    - 4.0
  # Ubuntu
  "22":
    - 6.4
    - 6.0
  "20":
    - 6.4
    - 6.0
    - 5.0
    - 4.0
  "18":
    - 6.0
    - 5.0
    - 4.0

zabbix_server_fpinglocation: /usr/bin/fping
zabbix_server_fping6location: /usr/bin/fping6
