---
apache_user: www-data
apache_group: www-data
apache_log: apache2

mysql_create_dir: ""

zabbix_valid_server_versions:
  # Debian
  "12":
    - 6.4
    - 6.0
  "11":
    - 6.4
    - 6.2
    - 6.0
  "10":
    - 6.0
  # Ubuntu
  "22":
    - 6.4
    - 6.2
    - 6.0
  "20":
    - 6.4
    - 6.2
    - 6.0
  "18":
    - 6.0

debian_keyring_path: /etc/apt/keyrings/
zabbix_gpg_key: "{{ debian_keyring_path }}zabbix-repo.asc"
_zabbix_server_fping6location: /usr/bin/fping6
_zabbix_server_fpinglocation: /usr/bin/fping

_zabbix_server_package: "zabbix-server-{{ zabbix_server_database }}"
_zabbix_server_sql_scripts_package: "zabbix-sql-scripts"
_zabbix_server_install_recommends: true
