---
apache_user: apache
apache_group: apache
apache_log: httpd

mysql_create_dir: create/

zabbix_valid_server_versions:
  "9":
    - 6.4
    - 6.0
  "8":
    - 6.4
    - 6.0
    - 5.0
    - 4.0
  "7":
    - 5.0
    - 4.0

zabbix_server_fpinglocation: /usr/sbin/fping
zabbix_server_fping6location: /usr/sbin/fping6
