{% macro common_config() %}
DocumentRoot "{{ _document_root }}"

{% if zabbix_apache_custom_includes is iterable and (zabbix_apache_custom_includes | length>0) %}
  {% for include in zabbix_apache_custom_includes %}
{{ include }}
  {% endfor %}
{% endif %}

<Directory "{{ _document_root }}">
  Options FollowSymLinks
  AllowOverride None
  Require all granted

  <IfModule dir_module>
      DirectoryIndex index.php
  </IfModule>

{% if ansible_facts['os_family'] in ["RedHat", "Suse"] %}
  <FilesMatch \.(php|phar)$>
      SetHandler "proxy:unix:{{ zabbix_php_fpm_listen }}|fcgi://localhost"
  </FilesMatch>
{% endif %}
</Directory>

{% set directory_paths = [
     _document_root ~ '/conf',
     _document_root ~ '/app',
     _document_root ~ '/include',
     _document_root ~ '/local',
     _document_root ~ '/vendor'
   ] %}
{% for my_path in directory_paths %}
<Directory "{{ my_path }}">
  Require all denied
</Directory>
{% endfor %}
{% endmacro %}

{% macro common_logging(_log_suffix='') %}
  ## Logging
  ErrorLog "/var/log/{{ _apache_log }}/{{ zabbix_api_server_url }}{{ _log_suffix }}_error.log"
  ServerSignature Off
  CustomLog "/var/log/{{ _apache_log }}/{{ zabbix_api_server_url }}{{ _log_suffix }}_access.log" combined

  ## Rewrite rules
  RewriteEngine On
  RewriteRule ^$ /index.php [L]
{% endmacro %}

<VirtualHost {{ zabbix_web_vhost_listen_ip }}:{{ zabbix_web_vhost_port }}>
  ServerName {{ zabbix_api_server_url }}
  {% for alias in zabbix_url_aliases %}
  ServerAlias {{ alias }}
  {% endfor %}

{% if zabbix_web_redirect | default(false) and zabbix_web_tls | default(false) %}
  RewriteEngine On
  RewriteCond %{HTTPS} !=on
  RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
{% else %}
  {{ common_config() | indent(2) }}

  {{ common_logging() | indent(2) }}
{% endif %}
</VirtualHost>

{# Set up TLS vhosts #}
{% if zabbix_web_tls and zabbix_web_vhost_tls_port %}

{{ (zabbix_web_SSLPassPhraseDialog is defined and zabbix_web_SSLPassPhraseDialog is not none) | ternary('', '# ') }}SSLPassPhraseDialog {{ zabbix_web_SSLPassPhraseDialog | default('') }}
{{ (zabbix_web_ssl_session_cache is defined and zabbix_web_ssl_session_cache != "!INVALID") | ternary('', '# ') }}SSLSessionCache {{ zabbix_web_ssl_session_cache | default('') }}
{{ (zabbix_web_ssl_session_cache_timeout is defined and zabbix_web_ssl_session_cache_timeout != "!INVALID") | ternary('', '# ') }}SSLSessionCacheTimeout {{ zabbix_web_ssl_session_cache_timeout | default('') }}
{{ (zabbix_web_SSLCryptoDevice is defined and zabbix_web_SSLCryptoDevice is not none) | ternary('', '# ') }}SSLCryptoDevice {{ zabbix_web_SSLCryptoDevice | default('') }}
SSLRandomSeed startup file:/dev/urandom  256
SSLRandomSeed connect builtin

<VirtualHost {{ zabbix_web_vhost_listen_ip }}:{{ zabbix_web_vhost_tls_port }}>
  ServerName {{ zabbix_api_server_url }}
  {% for alias in zabbix_url_aliases %}
  ServerAlias {{ alias }}
  {% endfor %}

  SSLEngine on
  {{ (zabbix_web_ssl_cipher_suite is defined and zabbix_web_ssl_cipher_suite is not none) | ternary('', '# ') }}SSLCipherSuite {{ zabbix_web_ssl_cipher_suite | default('') }}
  {{ (zabbix_web_ssl_cipher_suite is defined and zabbix_web_ssl_cipher_suite is not none) | ternary('', '# ') }}SSLHonorCipherOrder On
  SSLCompression off
  SSLCertificateFile {{ zabbix_web_tls_crt }}
  SSLCertificateKeyFile {{ zabbix_web_tls_key }}
  {{ (zabbix_web_tls_chain is defined and zabbix_web_tls_chain is not none) | ternary('', '# ') }}SSLCertificateChainFile {{ zabbix_web_tls_chain | default('') }}

  {{ common_config() | indent(2) }}

  {{ common_logging('_tls') | indent(2) }}
</VirtualHost>
{% endif %}
