# Install CI dependencies for the Zabbix Roles
ansible-core<2.17
docker
molecule>=6,<7
netaddr>=1.2.1
pytest<8           # requires python>=3.8
pytest-testinfra<9 # requires python>=3.9
#ipaddr==2.2.0
#ipaddress==1.0.23
#requests==2.31.0
