---
- name: "Nginx | Set websrv specific variables"
  ansible.builtin.set_fact:
    zabbix_web_user: "{{ zabbix_web_user if zabbix_web_user is defined else _nginx_user }}"
    zabbix_web_group: "{{ zabbix_web_group if zabbix_web_group is defined else _nginx_group }}"
    zabbix_web_vhost_location: "{{ zabbix_web_vhost_location if zabbix_web_vhost_location is defined else _nginx_vhost_location }}"
    zabbix_nginx_log_path: "{{ zabbix_nginx_log_path if zabbix_nginx_log_path is defined else _nginx_log_path }}"
    zabbix_nginx_service: "{{ zabbix_nginx_service if zabbix_nginx_service is defined else _nginx_service }}"
  tags:
    - config
    - install

- name: "Nginx | Installing Zabbix Nginx Conf"
  block:
    - name: "Debian | Install zabbix-nginx-conf"
      ansible.builtin.apt:
        pkg: "zabbix-nginx-conf"
        state: "{{ zabbix_web_package_state }}"
        update_cache: true
        cache_valid_time: 0
      environment:
        http_proxy: "{{ zabbix_http_proxy | default(None) | default(omit) }}"
        https_proxy: "{{ zabbix_https_proxy | default(None) | default(omit) }}"
      register: zabbix_apache_conf_install
      until: zabbix_apache_conf_install is succeeded
      become: true
      when: ansible_os_family == "Debian"

    - name: "RedHat | Install zabbix-nginx-conf"
      ansible.builtin.yum:
        name:
          - "zabbix-nginx-conf"
        state: "{{ zabbix_web_package_state }}"
        update_cache: true
        disablerepo: "{{ zabbix_agent_disable_repo | default(omit) }}"
      environment:
        http_proxy: "{{ zabbix_http_proxy | default(None) | default(omit) }}"
        https_proxy: "{{ zabbix_https_proxy | default(None) | default(omit) }}"
      register: zabbix_apache_conf_install
      until: zabbix_apache_conf_install is succeeded
      become: true
      when: ansible_os_family == "RedHat"
  tags:
    - install

- name: "Nginx | Install vhost in conf.d"
  ansible.builtin.template:
    src: nginx_vhost.conf.j2
    dest: "{{ zabbix_web_vhost_location }}"
    owner: "{{ zabbix_web_user }}"
    group: "{{ zabbix_web_group }}"
    mode: 0644
  when:
    - zabbix_web_create_vhost
  become: true
  notify:
    - restart nginx
  tags:
    - config
