---
# vars file for zabbix_agent (Debian)

zabbix_agent: zabbix-agent

zabbix_valid_agent_versions:
  # Debian
  "12":
    - 7.2
    - 7.0
    - 6.4
    - 6.0

  "11":
    - 7.2
    - 7.0
    - 6.4
    - 6.0

  "9":
    - 7.2
    - 7.0
    - 6.4
    - 6.0
  # Ubuntu
  "24":
    - 7.2
    - 7.0
    - 6.4
    - 6.0

  "22":
    - 7.2
    - 7.0
    - 6.4
    - 6.0

  "20":
    - 7.2
    - 7.0
    - 6.4
    - 6.0
