---
# vars file for zabbix_agent (Debian)

zabbix_agent: zabbix-agent
zabbix_agent_service: zabbix-agent
zabbix_agent_conf: zabbix_agentd.conf
zabbix_agent2_conf: zabbix_agent2.conf

zabbix_valid_agent_versions:
  # Debian
  "11":
    - 6.4
    - 6.2
    - 6.0

  "10":
    - 6.4
    - 6.2
    - 6.0

  "9":
    - 6.4
    - 6.2
    - 6.0
  # Ubuntu
  "22":
    - 6.4
    - 6.2
    - 6.0

  "20":
    - 6.4
    - 6.2
    - 6.0

  "18":
    - 6.4
    - 6.2
    - 6.0

debian_keyring_path: /etc/apt/keyrings/
zabbix_gpg_key: "{{ debian_keyring_path }}/zabbix-official-repo.asc"
