---
# vars file for zabbix_agent (Debian)

zabbix_agent: zabbix-agent

_zabbix_agent_install_recommends: false

zabbix_valid_agent_versions:
  # Debian
  "13":
    - 8.0
    - 7.4
    - 7.2
    - 7.0
    - 6.0

  "12":
    - 8.0
    - 7.4
    - 7.2
    - 7.0
    - 6.0

  "11":
    - 8.0
    - 7.4
    - 7.2
    - 7.0
    - 6.0
  # Ubuntu
  "24":
    - 8.0
    - 7.4
    - 7.2
    - 7.0
    - 6.0

  "22":
    - 8.0
    - 7.4
    - 7.2
    - 7.0
    - 6.0
