---
# vars file for zabbix_agent (RedHat)

zabbix_agent: zabbix-agent
zabbix_agent_service: zabbix-agent
zabbix_agent_conf: zabbix_agentd.conf
zabbix_agent2_conf: zabbix_agent2.conf

zabbix_valid_agent_versions:
  "9":
    - 6.4
    - 6.0
    - 5.0
    - 4.0
  "8":
    - 6.4
    - 6.0
    - 5.0
    - 4.0
  "7":
    - 6.4
    - 6.0
    - 5.0
    - 4.0
