---
- name: "Debian | Set some variables"
  ansible.builtin.set_fact:
    zabbix_short_version: "{{ zabbix_javagateway_version | regex_replace('\\.', '') }}"
  tags:
    - always

# In releases older than Debian 12 and Ubuntu 22.04, /etc/apt/keyrings does not exist by default.
# It SHOULD be created with permissions 0755 if it is needed and does not already exist.
# See: https://wiki.debian.org/DebianRepository/UseThirdParty
- name: "Debian | Create /etc/apt/keyrings/ on older versions"
  ansible.builtin.file:
    path: /etc/apt/keyrings/
    state: directory
    mode: "0755"
  become: true
  when:
    - (ansible_distribution == "Ubuntu" and ansible_distribution_major_version < "22") or
      (ansible_distribution == "Debian" and ansible_distribution_major_version < "12")

- name: "Debian | Download gpg key"
  when: not ansible_check_mode  # Because get_url always has changed status in check_mode.
  ansible.builtin.get_url:
    url: "{{ zabbix_repo_deb_gpg_key_url }}"
    dest: "{{ zabbix_gpg_key }}"
    mode: "0644"
    force: true
  environment:
    http_proxy: "{{ zabbix_http_proxy | default(None) | default(omit) }}"
    https_proxy: "{{ zabbix_https_proxy | default(None) | default(omit) }}"
  become: true
  tags:
    - install

- name: "Debian | Installing repository {{ ansible_distribution }}"
  ansible.builtin.copy:
    dest: /etc/apt/sources.list.d/zabbix.sources
    owner: root
    group: root
    mode: 0644
    content: |
      Types: deb{{ ' deb-src' if zabbix_repo_deb_include_deb_src }}
      Enabled: yes
      URIs: {{ zabbix_repo_deb_url }}
      Suites: {{ ansible_distribution_release }}
      Components: {{ zabbix_repo_deb_component }}
      Architectures: {{ 'amd64' if ansible_machine != 'aarch64' else 'arm64'}}
      Signed-By: {{ zabbix_gpg_key }}
  register: zabbix_repo
  become: true
  tags:
    - install

- name: "Debian | Update apt cache if repo was added"
  ansible.builtin.apt: update_cache=yes
  when: zabbix_repo is changed

- name: "Debian | Installing zabbix-java-gateway"
  ansible.builtin.apt:
    pkg: zabbix-java-gateway
    state: "{{ zabbix_javagateway_package_state }}"
    update_cache: true
    force: true
    cache_valid_time: 3600
  environment:
    http_proxy: "{{ zabbix_http_proxy | default(None) | default(omit) }}"
    https_proxy: "{{ zabbix_https_proxy | default(None) | default(omit) }}"
  register: zabbix_java_gateway_install
  until: zabbix_java_gateway_install is succeeded
  become: true
  tags:
    - install

- name: "Debian | Make sure Zabbix Java Gateway is not yet running"
  ansible.builtin.systemd:
    name: zabbix-java-gateway
    state: stopped
    enabled: true
    daemon_reload: true
  become: true
  when:
    - zabbix_java_gateway_install.changed
  tags:
    - service
