---
- name: Configure PSK
  when: "( 'psk' in zabbix_agent_tlsaccept ) or (zabbix_agent_tlsconnect  == 'psk')"
  tags:
    - config
  block:
    - name: AutoPSK | Check for existing TLS PSK file
      ansible.builtin.stat:
        path: "{{ zabbix_agent_tlspskfile }}"
      register: zabbix_agent_tlspskcheck
      become: true

    - name: Gather PSK Secret Info
      ansible.builtin.include_tasks: psk_secret.yml

    - name: Gather PSK Identity Info
      ansible.builtin.include_tasks: psk_identity.yml

- name: "Set default ip address for zabbix_agent_ip"
  ansible.builtin.set_fact:
    zabbix_agent_ip: "{{ ansible_facts['default_ipv4'].address }}"
  when:
    - zabbix_agent_ip is not defined
    - ansible_facts['default_ipv4'].address is defined
  tags:
    - config

# Fun fact, the first set_fact that successfully defines zabbix_agent_ip
# breaks the block, so no further tasks are run within the block.
- name: "Detect IPv4 address"
  when:
    - zabbix_agent_ip is not defined
    - zabbix_agent_detect_ip
  block:
    - name: "Set first private ip address for zabbix_agent_ip"
      ansible.builtin.set_fact:
        zabbix_agent_ip: "{{ ansible_facts['all_ipv4_addresses'] | ansible.utils.ipaddr('private') | first }}"
      when: ansible_facts['all_ipv4_addresses'] | ansible.utils.ipaddr('private') | length > 0

    - name: "Set first public ip address for zabbix_agent_ip"
      ansible.builtin.set_fact:
        zabbix_agent_ip: "{{ ansible_facts['all_ipv4_addresses'] | ansible.utils.ipaddr('public') | first }}"
      when: ansible_facts['all_ipv4_addresses'] | ansible.utils.ipaddr('public') | length > 0

- name: "Validate zabbix_agent_listenip"
  ansible.builtin.assert:
    that:
      - _listenip in ansible_facts['all_ipv4_addresses']
    fail_msg: "listenip: {{ _listenip }} is not an address available on {{ inventory_hostname }}"
  when:
    - _listenip not in ['127.0.0.1', '0.0.0.0']
  loop: "{{ zabbix_agent_listenip | split(',') }}"
  loop_control:
    loop_var: _listenip
  tags:
    - config

- name: "Configure SELinux when enabled"
  ansible.builtin.include_tasks: selinux.yml
  when: ansible_facts.selinux.status | default('disabled') == 'enabled'

- name: "Configure zabbix-agent"
  ansible.builtin.template:
    src: agent.conf.j2
    dest: "/etc/zabbix/zabbix_agent{{ (zabbix_agent2 | bool) | ternary('2', 'd') }}.conf"
    owner: root
    group: root
    mode: "{{ zabbix_agent_conf_mode }}"
  notify:
    - restart zabbix-agent
  become: true
  when:
    - not (zabbix_agent_docker | bool)
  tags:
    - config

- name: "Create include dirs zabbix-agent"
  ansible.builtin.file:
    path: "{{ include_dir }}"
    owner: root
    group: root
    mode: "{{ zabbix_agent_include_mode }}"
    state: directory
  loop: "{{ [zabbix_agent_include_dir] if zabbix_agent_include_dir is string else zabbix_agent_include_dir }}"
  loop_control:
    loop_var: 'include_dir'
  become: true
  tags:
    - config

- name: "Install the Docker container"
  ansible.builtin.include_tasks: Docker.yml
  when:
    - zabbix_agent_docker | bool

- name: "Remove zabbix-agent installation when zabbix-agent2 is used."
  ansible.builtin.include_tasks: remove.yml
  when:
    - zabbix_agent2 | bool
    - zabbix_agent_package_remove

- name: "Make sure the zabbix-agent service is running"
  ansible.builtin.service:
    name: "{{ zabbix_agent_service }}"
    state: started
    enabled: true
  become: true
  when:
    - not (zabbix_agent_docker | bool)
  tags:
    - service

- name: "Give zabbix-agent access to system.hw.chassis info"
  ansible.builtin.file:
    path: /sys/firmware/dmi/tables/DMI
    owner: root
    group: zabbix
  become: true
  when:
    - zabbix_agent_chassis is defined
    - zabbix_agent_chassis | bool
  tags:
    - config
