---
# Tasks specific for RedHat systems

- name: "RedHat | Install basic repo file"
  ansible.builtin.yum_repository:
    name: "{{ item.name }}"
    description: "{{ item.description }}"
    baseurl: "{{ item.baseurl }}"
    gpgcheck: "{{ item.gpgcheck }}"
    gpgkey: "{{ item.gpgkey }}"
    mode: "{{ item.mode | default('0644') }}"
    priority: "{{ item.priority | default('99') }}"
    state: "{{ item.state | default('present') }}"
    proxy: "{{ zabbix_http_proxy | default(omit) }}"
  with_items: "{{ zabbix_repo_yum }}"
  register: yum_repo_installed
  become: true
  notify:
    - "clean repo files from proxy creds"
  tags:
    - install

- name: Check if warn parameter can be used for shell module
  ansible.builtin.set_fact:
    produce_warn: False
  when: ansible_version.full is version("2.14", "<")
  tags:
    - always

- name: "RedHat | Installing zabbix-agent"
  ansible.builtin.package:
    pkg:
      - "{{ zabbix_agent_package }}-{{ zabbix_agent_version }}.{{ zabbix_agent_version_minor }}"
    disablerepo: "{{ zabbix_agent_disable_repo | default(omit) }}"
    state: "{{ zabbix_agent_package_state }}"
  environment:
    http_proxy: "{{ zabbix_http_proxy | default(None) | default(omit) }}"
    https_proxy: "{{ zabbix_https_proxy | default(None) | default(omit) }}"
  register: zabbix_agent_package_installed
  until: zabbix_agent_package_installed is succeeded
  become: true
  tags:
    - install

- name: "RedHat | Installing zabbix-{sender,get}"
  ansible.builtin.package:
    pkg:
      - "{{ zabbix_sender_package }}-{{ zabbix_agent_version }}.{{ zabbix_agent_version_minor }}"
      - "{{ zabbix_get_package }}-{{ zabbix_agent_version }}.{{ zabbix_agent_version_minor }}"
    disablerepo: "{{ zabbix_agent_disable_repo | default(omit) }}"
    state: "{{ zabbix_agent_package_state }}"
  environment:
    http_proxy: "{{ zabbix_http_proxy | default(None) | default(omit) }}"
    https_proxy: "{{ zabbix_https_proxy | default(None) | default(omit) }}"
  register: zabbix_agent_package_installed
  until: zabbix_agent_package_installed is succeeded
  when:
    - not zabbix_agent_install_agent_only
  become: true
  tags:
    - install

- name: "RedHat | Enable the service"
  ansible.builtin.service:
    name: "{{ zabbix_agent_service }}"
    enabled: true
    use: service
  become: true
  tags:
    - service
