---
_apache_user: apache
_apache_group: apache
_apache_log: httpd
_apache_service: httpd

_php_fpm_dir: /etc/php-fpm.d
_php_fpm_session: /var/opt/rh/rh-php72/lib/php/session/
_php_fpm_listen: /run/php-fpm/zabbix.sock

_nginx_user: nginx
_nginx_group: nginx
_nginx_config_path: /etc/nginx/conf.d
_nginx_log_path: /var/log/nginx
_nginx_service: nginx
_nginx_tls_crt: /etc/pki/server.crt
_nginx_tls_key: /etc/pki/server.key
_nginx_tls_dhparam: /etc/pki/dhparam-server.pem

zabbix_valid_web_versions:
  "9":
    - 6.4
    - 6.0
  "8":
    - 6.4
    - 6.0
    - 5.0
    - 4.0
  "7":
    - 5.0
    - 4.0
