# This is a configuration file for Zabbix Java Gateway.
# It is sourced by startup.sh and shutdown.sh scripts.

### Option: zabbix.listenIP
#       IP address to listen on.
#
LISTEN_IP={{ zabbix_javagateway_listenip }}

### Option: zabbix.listenPort
#       Port to listen on.
#
LISTEN_PORT={{ zabbix_javagateway_listenport }}

### Option: zabbix.pidFile
#       Name of PID file.
#       If omitted, Zabbix Java Gateway is started as a console application.
#
PID_FILE={{ zabbix_javagateway_pidfile }}

### Option: zabbix.startPollers
#       Number of worker threads to start.
#
START_POLLERS={{ zabbix_javagateway_startpollers }}
