zabbix_valid_javagateway_versions:
  # Debian
  "12":
    - 7.4
    - 7.2
    - 7.0
    - 6.0
  "11":
    - 7.4
    - 7.2
    - 7.0
    - 6.0

  # Ubuntu
  "24":
    - 7.4
    - 7.2
    - 7.0
    - 6.0
  "22":
    - 7.4
    - 7.2
    - 7.0
    - 6.0

_zabbix_javagateway_install_recommends: true
