name: plugins
on:
  push:
    paths:
      - 'plugins/**'
      - 'tests/**'
      - 'scripts/**'
      - '.github/workflows/plugins.yml'
      - 'docker-compose.yml'
  pull_request:
    paths:
      - 'plugins/**'
      - 'tests/**'
      - 'scripts/**'
      - '.github/workflows/plugins.yml'
      - 'docker-compose.yml'

jobs:
  sanity:
    name: Sanity (${{ matrix.ansible }})
    strategy:
      matrix:
        ansible:
        - stable-2.10
        - devel
    runs-on: ubuntu-latest
    steps:

      - name: Check out code
        uses: actions/checkout@v1
        with:
          path: ansible_collections/community/zabbix

      - name: Set up Python 3.6
        uses: actions/setup-python@v1
        with:
          python-version: 3.6

      - name: Install ansible-base (${{ matrix.ansible }})
        run: pip install https://github.com/ansible/ansible/archive/${{ matrix.ansible }}.tar.gz --disable-pip-version-check

      - name: Run sanity tests
        run: ansible-test sanity --docker -v --color --python 3.6

  integration:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        zabbix_container:
          - version: "3.0"
            port: "80"
          - version: "4.0"
            port: "8080"
          - version: "4.4"
            port: "8080"
          - version: "5.0"
            port: "8080"

    steps:
      - name: Check out code
        uses: actions/checkout@v1
        with:
          path: ansible_collections/community/zabbix

      - name: Set up Python 3.6
        uses: actions/setup-python@v1
        with:
          python-version: 3.6

      - name: Install dependencies
        run: pip install docker-compose zabbix-api

      - name: Install ansible-base (stable-2.10)
        run: pip install https://github.com/ansible/ansible/archive/stable-2.10.tar.gz --disable-pip-version-check

      - name: Zabbix container server provisioning
        run: docker-compose up -d
        env:
          zabbix_version: ${{ matrix.zabbix_container.version }}
          zabbix_port: ${{ matrix.zabbix_container.port }}

      - name: Run integration test
        run: ansible-test integration -v --color --retry-on-error --continue-on-error --diff --requirements --coverage

      - uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: false
