---
name: "community.zabbix.zabbix_server"
on:
  push:
    paths:
      - "roles/zabbix_server/**"
      - "molecule/zabbix_server/**"
      - "molecule/requirements.txt"
      - ".github/workflows/server.yml"
  pull_request:
    paths:
      - "roles/zabbix_server/**"
      - "molecule/zabbix_server/**"
      - "molecule/requirements.txt"
      - ".github/workflows/server.yml"
jobs:
  molecule:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        container:
          - rockylinux9
          - rockylinux8
          - ubuntu2204
          - ubuntu2004
          - debian12
          - debian11
          - debian10
        collection_role:
          - zabbix_server
        database:
          - mysql
          - pgsql
        version:
          - v60
          - v65
        include:
          - interpreter: python3
        exclude:
          - container: debian10
            version: v65
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r molecule/requirements.txt

      - name: Build the collection
        run: |
          collection_file=$( basename $(ansible-galaxy collection build -f | awk -F" " '{print $NF}'))
          echo "COLLECTION_FILE=$collection_file" >> $GITHUB_ENV

      - name: Install the collection
        run: ansible-galaxy collection install $COLLECTION_FILE

      - name: Run server role tests
        run: >-
          MY_MOLECULE_CONTAINER=${{ matrix.container }}
          MY_MOLECULE_IMAGE=${{ matrix.container }}
          MY_MOLECULE_VERSION=${{ matrix.version }}
          MY_MOLECULE_DATABASE=${{ matrix.database }}
          MY_MOLECULE_INTERPRETER=${{ matrix.interpreter }}
          MY_MOLECULE_DOCKER_COMMAND=${{ matrix.command }}
          molecule test -s ${{ matrix.collection_role }}
